<!-- <h1>{{clientName}}</h1>

{{#each dataExtension}}
    <li>
        {{this.Name}} - {{this.CategoryID}}
    </li>
{{/each}} -->
<h1></h1>
<div id="jstree"></div>

<!-- <form action="/de" method="post">
    <button class="btn waves-effect waves-light" type="submit" name="action">
  Create Data Extension<i class="material-icons right">send</i>
</button>
</form> -->
