<h1>{{clientName}}</h1>


<h1></h1>
<div id="jstree"></div>

<a id="createDE" href="/de/create/{{clientName}}" class="btn waves-effect waves-light">Create/Edit Data Extension<i class="material-icons right">send</i></a>
