<div class="section row col s12">
    <span class="col s4"></span>
    <a class='dropdown-button btn col s4' data-beloworigin="true" href='#' data-activates='dropdown1'>Client List</a>
    <span class="col s4"></span>
</div>


<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    {{#each clients}}
        <li><a href="/{{this.client_name}}">{{this.client_name}}</a></li>
    {{/each}}
</ul>
