<!DOCTYPE html>
<html>

<head>
    <title>Email Dev SWEET</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/jstree.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper blue darken-3">
                    <a href="/" class="brand-logo center">Email Dev Suite</a>
                    {{#if employee}}
                        <ul class="right">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                        <ul class="left">
                            <li><a href="/">Home</a></li>
                        </ul>
                    {{/if}}
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.js"></script>
    <script type="text/javascript" src="/javascripts/dropdown.js"></script>
    <script type="text/javascript" src="/javascripts/jstree.js"></script>
    <script type="text/javascript" src="/javascripts/jstreeJQuery.js"></script>
</body>

</html>
